body{
  margin:0;
  padding:0;
  background: black;
  position: relative;
}

@font-face {
  font-family: "Terminus";
  src: url("../fonts/Terminus.ttf");
}

.containerIntro{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Terminus';
  font-size:14px;
  color:#5DFC86;
  position: absolute;
  top: 0;
  left: 0;
}

.containerIntro_openOverlay{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Matrix background */

.containerIntro_openOverlay>div.first{
  display: flex;
  flex-direction: column;
  cursor: default;
}

.containerIntro_openOverlay>div.first>span.first{
  opacity: 0;
  padding: 2px 2px 1px 2px;
  font-size: 20px;
  font-family: url("../fonts/Terminus.ttf");
}

/* Button A */

.containerIntro_openOverlay_buttonsA{
  position: absolute;
  top: 104px;
  left: 434px;
  width: 294px;
  height: 182px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  cursor: pointer;
  pointer-events: none;
}

.containerIntro_openOverlay_buttonsA>span.second{
  display: inline-block;
  width: 10px;
  height: 26px;
  padding: 0px 2px 0px 2px;
  font-size: 20px;
  font-family: url("../fonts/Terminus.ttf");
  background: black;
  opacity: 0;
}

/* Button B */

.containerIntro_openOverlay_buttonsB{
  position: absolute;
  bottom: 78px;
  left: 448px;
  width: 266px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  cursor: pointer;
  pointer-events: none;
}

.containerIntro_openOverlay_buttonsB>span.third{
  display: inline-block;
  width: 10px;
  height: 26px;
  padding: 0px 2px 0px 2px;
  font-size: 20px;
  font-family: url("../fonts/Terminus.ttf");
  background: black;
  opacity: 0;
}

/* Finish Overlay */

.finishOverlay{
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Inconsolata', monospace;
  z-index: 11;
  background: black;
}

/* Lose */

.finishOverlay_lose{
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.finishOverlay_lose div{
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.finishOverlay_lose div a{ 
  text-decoration: none;
  font-size: 65px;
  color: rgba(0, 0, 0, 0);
  text-shadow:  none;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #5DFC86;
  z-index: 20;
}
.finishOverlay_lose div a:hover{ 
  color: rgba(93, 252, 134, 1);
  text-shadow:  1px 1px 10px #5DFC86;
}

/* Win */

.finishOverlay_win{
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/successBackground.png");
}
.finishOverlay_win_container{
  width: 20vw;
  height: 50vh;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.finishOverlay_win_container p:first-child{
  margin-top: 5Opx;
  font-size: 75px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #5DFC86;
}
.finishOverlay_win_container p:nth-child(2){
  padding-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

.finishOverlay_win_container_buttonsContainer{
  width: 24vw;
  display: flex;
  justify-content: space-between;
}
.finishOverlay_win_container_buttonsContainer a{
  text-decoration: none;
  font-size: 27px;
  padding: 5px;
  text-shadow:  none;
  padding-bottom: 60px;
}
.finishOverlay_win_container_buttonsContainer a:hover{
  text-shadow:  1px 1px 10px #5DFC86;
}


.littleDevicesOverlay{
  display: none;
}

@media screen and (max-width: 1100px) {

  .littleDevicesOverlay{
    background: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Inconsolata', monospace;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    touch-action: none;
    overflow: hidden;
  }

  .littleDevicesOverlay p:first-child{
    font-size: 70px;
    margin-top: 5vh;
  }

  .littleDevicesOverlay img{
    width: 27vw;
    height: auto;
  }

  .littleDevicesOverlay p:nth-child(3){
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 70vw;
    margin-bottom: 5vh;
  }

}

