@charset "UTF-8";
@font-face {
  font-family: "Matrix";
  src: url("../fonts/matrix.ttf"); }
@font-face {
  font-family: "Courier";
  src: url("../fonts/courier_[fr.allfont.net].ttf"); }
body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  cursor: url("../images/cursor.png"), default; }

a {
  color: white;
  text-decoration: none; }

.matrix-canvas {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1; }

.main-container {
  position: relative;
  top: 0%;
  z-index: 2; }

header {
  width: 1398px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  header .header--Mainlogo {
    font-family: 'Matrix';
    font-size: 3.15em;
    font-weight: 500;
    margin: 0; }
  header .header--ButtonMenu {
    width: 23px;
    height: 23px;
    background-image: url("../images/buttonMenu.svg");
    filter: brightness(0) invert(1);
    background-size: cover;
    display: inline-block;
    margin-top: 20px; }
    header .header--ButtonMenu:hover {
      filter: invert(65%) sepia(10%) saturate(5296%) hue-rotate(75deg) brightness(88%) contrast(69%); }

/*Glitch */
.matrix {
  position: relative;
  color: white;
  animation: glitch-skew 1s infinite linear alternate-reverse; }
  .matrix::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #1B791C;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .matrix::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #000000, 2px 2px #1B791C;
    animation: glitch-anim2 1s infinite linear alternate-reverse; }

@keyframes glitch-anim {
  0% {
    clip: rect(28px, 9999px, 12px, 0);
    transform: skew(0.24deg); }
  5% {
    clip: rect(29px, 9999px, 92px, 0);
    transform: skew(0.29deg); }
  10% {
    clip: rect(17px, 9999px, 97px, 0);
    transform: skew(0.89deg); }
  15% {
    clip: rect(95px, 9999px, 75px, 0);
    transform: skew(0.94deg); }
  20% {
    clip: rect(66px, 9999px, 69px, 0);
    transform: skew(0.35deg); }
  25% {
    clip: rect(72px, 9999px, 52px, 0);
    transform: skew(0.72deg); }
  30% {
    clip: rect(37px, 9999px, 70px, 0);
    transform: skew(0.83deg); }
  35% {
    clip: rect(56px, 9999px, 57px, 0);
    transform: skew(0.7deg); }
  40% {
    clip: rect(88px, 9999px, 27px, 0);
    transform: skew(0.22deg); }
  45% {
    clip: rect(65px, 9999px, 47px, 0);
    transform: skew(0.16deg); }
  50% {
    clip: rect(2px, 9999px, 13px, 0);
    transform: skew(0.3deg); }
  55% {
    clip: rect(25px, 9999px, 26px, 0);
    transform: skew(0.75deg); }
  60% {
    clip: rect(20px, 9999px, 38px, 0);
    transform: skew(0.8deg); }
  65% {
    clip: rect(48px, 9999px, 34px, 0);
    transform: skew(0.01deg); }
  70% {
    clip: rect(70px, 9999px, 92px, 0);
    transform: skew(0.27deg); }
  75% {
    clip: rect(32px, 9999px, 83px, 0);
    transform: skew(0.15deg); }
  80% {
    clip: rect(20px, 9999px, 85px, 0);
    transform: skew(0.01deg); }
  85% {
    clip: rect(8px, 9999px, 44px, 0);
    transform: skew(0.96deg); }
  90% {
    clip: rect(1px, 9999px, 69px, 0);
    transform: skew(0.87deg); }
  95% {
    clip: rect(100px, 9999px, 89px, 0);
    transform: skew(0.74deg); }
  100% {
    clip: rect(99px, 9999px, 78px, 0);
    transform: skew(0.56deg); } }
@keyframes glitch-anim2 {
  0% {
    clip: rect(100px, 9999px, 17px, 0);
    transform: skew(0.25deg); }
  5% {
    clip: rect(93px, 9999px, 76px, 0);
    transform: skew(0.74deg); }
  10% {
    clip: rect(94px, 9999px, 72px, 0);
    transform: skew(0.43deg); }
  15% {
    clip: rect(52px, 9999px, 43px, 0);
    transform: skew(0.04deg); }
  20% {
    clip: rect(36px, 9999px, 46px, 0);
    transform: skew(0.63deg); }
  25% {
    clip: rect(45px, 9999px, 92px, 0);
    transform: skew(0.78deg); }
  30% {
    clip: rect(60px, 9999px, 54px, 0);
    transform: skew(0.93deg); }
  35% {
    clip: rect(24px, 9999px, 71px, 0);
    transform: skew(0.93deg); }
  40% {
    clip: rect(95px, 9999px, 1px, 0);
    transform: skew(0.39deg); }
  45% {
    clip: rect(56px, 9999px, 67px, 0);
    transform: skew(0.48deg); }
  50% {
    clip: rect(72px, 9999px, 34px, 0);
    transform: skew(0.03deg); }
  55% {
    clip: rect(31px, 9999px, 24px, 0);
    transform: skew(0.45deg); }
  60% {
    clip: rect(52px, 9999px, 18px, 0);
    transform: skew(0.72deg); }
  65% {
    clip: rect(28px, 9999px, 32px, 0);
    transform: skew(0.18deg); }
  70% {
    clip: rect(34px, 9999px, 65px, 0);
    transform: skew(0.34deg); }
  75% {
    clip: rect(24px, 9999px, 89px, 0);
    transform: skew(0.06deg); }
  80% {
    clip: rect(87px, 9999px, 3px, 0);
    transform: skew(0.48deg); }
  85% {
    clip: rect(40px, 9999px, 82px, 0);
    transform: skew(0.36deg); }
  90% {
    clip: rect(9px, 9999px, 86px, 0);
    transform: skew(0.43deg); }
  95% {
    clip: rect(84px, 9999px, 26px, 0);
    transform: skew(0.95deg); }
  100% {
    clip: rect(33px, 9999px, 46px, 0);
    transform: skew(0.84deg); } }
@keyframes glitch-skew {
  0% {
    transform: skew(-3deg); }
  10% {
    transform: skew(-1deg); }
  20% {
    transform: skew(2deg); }
  30% {
    transform: skew(4deg); }
  40% {
    transform: skew(0deg); }
  50% {
    transform: skew(4deg); }
  60% {
    transform: skew(4deg); }
  70% {
    transform: skew(-3deg); }
  80% {
    transform: skew(0deg); }
  90% {
    transform: skew(-2deg); }
  100% {
    transform: skew(1deg); } }
main {
  width: 100%; }

.extracts-section {
  width: 1388px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 79px;
  position: relative; }
  .extracts-section__shadowDiv {
    z-index: 3;
    position: relative;
    height: 611px;
    width: 151px;
    width: 197px;
    height: 602px;
    transform: skew(-13deg);
    box-shadow: 0px 0px 70px 50px rgba(81, 151, 48, 0.3);
    margin: 0 25px; }
  .extracts-section__sceneImage {
    width: 416px;
    height: 602px;
    position: absolute;
    z-index: 4;
    transform: skew(17deg);
    left: -98px;
    transition-property: width, height, z-index, left, top;
    transition-duration: 0.2s;
    transition-timing-function: linear; }
    .extracts-section__sceneImage:hover {
      width: 480px;
      height: 680px;
      z-index: 5;
      left: -145px; }

.menuDiv {
  width: 1244px;
  height: 602px;
  transform: skew(-13deg);
  background: black;
  position: absolute;
  z-index: 6;
  animation: displayDivMenu 0.5s;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .menuDiv__recue {
    color: #1B791C;
    border: solid 2px #1B791C;
    padding: 14px 29px;
    font-size: 1.6em; }
    .menuDiv__recue:hover {
      background-color: #1B791C;
      color: black;
      transition: .3s; }
  .menuDiv__about {
    color: #1B791C;
    margin-top: 20px;
    font-size: 1.3em; }
  .menuDiv__cookies {
    color: #1B791C;
    margin-top: 20px;
    font-size: 1em;
    margin-left: 10px; }

.menuAbout {
  width: 98% !important;
  left: 25px !important;
  height: 464px !important;
  transform: none !important; }

.displayMenu {
  display: flex; }

.playerDiv {
  top: -40px;
  z-index: 6;
  width: 100%;
  height: 740px;
  position: absolute;
  display: none; }
  .playerDiv__video {
    width: 1355px;
    margin-left: 29px; }
  .playerDiv__close {
    width: 14px;
    height: 18px;
    background-image: url(../images/close.svg);
    filter: brightness(0) invert(1);
    background-size: cover;
    position: absolute;
    right: 22px;
    top: 12px; }
    .playerDiv__close:hover {
      filter: invert(65%) sepia(10%) saturate(5296%) hue-rotate(75deg) brightness(88%) contrast(69%); }

.displayPlayerDiv {
  display: block; }

/*
ABOUT
*/
.main__about {
  font-family: 'Courier';
  background: black;
  width: 1388px;
  /* Pour les 13 pouces 1100px a peu près c'est bon */
  margin: 0 auto;
  margin-top: 79px;
  transform: skew(-13deg);
  box-shadow: 0px 0px 70px 50px rgba(81, 151, 48, 0.3); }

.main__flex {
  display: flex;
  justify-content: center; }

.main__about p {
  font-size: 15px; }

div[class^="about_"] {
  color: #ffffff;
  padding: 20px;
  margin: 10px 40px;
  transform: skew(13deg); }

div[class^="about_"] h3 {
  color: #1B791C; }

div[class^="about_"] img {
  margin-top: 30px; }

div[class^="about_"] ul {
  list-style: none;
  width: max-content;
  padding: 0;
  margin: 0; }

div[class^="about_"] ul li {
  margin-top: 15px; }

.text__typing {
  max-width: 400px;
  min-width: 300px;
  font-size: 15px; }

.text__cursor {
  opacity: 1;
  animation: cursor 0.4s  infinite;
  -webkit-animation: cursor 0.4s infinite; }

@keyframes cursor {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.about__production {
  text-align: center;
  display: flex;
  flex-direction: column; }

.about__last {
  text-align: center;
  font-size: 25px;
  margin-top: 79px; }

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  left: -2%;
  top: 30%; }

.social a {
  margin: 30px auto;
  margin-left: 141px;
  cursor: pointer; }
  .social a:hover {
    filter: invert(65%) sepia(10%) saturate(5296%) hue-rotate(75deg) brightness(88%) contrast(69%);
    transition: .3s; }

.social::before {
  content: '';
  border: 1px #ffffff solid;
  width: 110px;
  transform: rotate(90deg);
  margin-bottom: 60px;
  margin-left: 95px;
  z-index: 7; }

.social::after {
  content: '';
  border: 1px #ffffff solid;
  width: 110px;
  transform: rotate(90deg);
  margin-top: 60px;
  margin-left: 95px; }

@keyframes imageHover {
  from {
    width: 416px;
    height: 602px;
    z-index: 4;
    left: -98px; }
  to {
    width: 480px;
    height: 680px;
    z-index: 5;
    top: -40px;
    left: -145px; } }
/* AUDIO CONTROL */
.sound__control {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.mute {
  padding: 15px;
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(205deg) brightness(101%) contrast(104%); }
  .mute:hover {
    filter: invert(65%) sepia(10%) saturate(5296%) hue-rotate(75deg) brightness(88%) contrast(69%);
    transition: .3s;
    cursor: pointer; }

/*
RESPONSIVE
*/
@media screen and (max-width: 1600px) {
  header {
    width: 1010px; }

  .extracts-section {
    width: 1010px; }

  .extracts-section__shadowDiv {
    width: 75px;
    height: 475px;
    margin: 0px 55px; }

  .extracts-section__sceneImage {
    width: 306px;
    height: 482px;
    left: -158px;
    z-index: 4; }
    .extracts-section__sceneImage:hover {
      z-index: 5;
      width: 350px;
      height: 530px;
      left: -193px;
      top: -26px; }

  .main__about {
    width: 1010px; }

  .about__synopsis {
    height: 300px; }

  .about__synopsis p {
    height: 280px;
    overflow: scroll; }

  .playerDiv__close {
    right: -23px;
    top: 11px; }

  .playerDiv__video {
    width: 1095px;
    margin-left: -44px; }

  .playerDiv {
    top: -130px; }

  .menuDiv {
    width: 924px;
    left: 0px;
    height: 482px;
    transform: skew(-11deg); }

  .social {
    left: -60px;
    top: 241px; }
    .social::before {
      width: 70px;
      margin-left: 115px; }
    .social::after {
      width: 70px;
      margin-left: 115px; } }
@media screen and (max-width: 1220px) {
  header {
    width: 740px; }

  .extracts-section {
    width: 740px; }

  .extracts-section__shadowDiv {
    width: 11px;
    height: 387px;
    margin: 0px 66px; }

  .extracts-section__sceneImage {
    width: 232px;
    height: 392px;
    left: -130px; }
    .extracts-section__sceneImage:hover {
      z-index: 5;
      width: 264px;
      height: 445px;
      left: -153px;
      top: -26px; }

  .main__about {
    width: 740px; }

  .about__synopsis {
    height: 200px; }

  .about__synopsis p {
    height: 180px;
    overflow: scroll; }

  div[class^="about_"] {
    padding: 0; }

  .main__flex {
    justify-content: end; }

  .about__last {
    font-size: 20px;
    padding: 10px 0 !important; }

  .about__synopsis p {
    height: 250px; }

  .menuDiv {
    width: 706px;
    left: -4px;
    height: 396px !important;
    transform: skew(-11deg); }

  .playerDiv__video {
    width: 879px; }

  .playerDiv {
    top: -70px; } }
@media screen and (max-width: 981px) {
  header {
    width: 470px; }

  .extracts-section {
    width: 510px;
    flex-wrap: wrap; }

  .extracts-section__shadowDiv {
    margin: 10px 66px; }

  .main__about {
    width: 740px; }

  .social {
    left: 7px;
    top: 254px; }
    .social::before {
      width: 60px;
      margin-left: 11px; }
    .social::after {
      width: 60px;
      margin-left: 7px; }
    .social a {
      margin: 13px auto; } }

/*# sourceMappingURL=style-site-institutionnel.css.map */
