@font-face {
  font-family: "Matrix";
  src: url("../fonts/matrix.ttf"); }
@font-face {
  font-family: "Courier";
  src: url("../fonts/courier_[fr.allfont.net].ttf"); }
body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace; }

a {
  color: white;
  text-decoration: none; }

.matrix-canvas {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%; }

.main-container {
  position: relative;
  top: 0%; }

header {
  width: 1398px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  header .header--Mainlogo {
    font-family: 'Matrix';
    font-size: 3.15em;
    font-weight: 500;
    margin: 0; }
  header .header--ButtonMenu {
    width: 23px;
    height: 23px;
    background-image: url("../images/buttonMenu.svg");
    filter: brightness(0) invert(1);
    background-size: cover;
    display: inline-block;
    margin-top: 20px; }
    header .header--ButtonMenu:hover {
      filter: invert(65%) sepia(10%) saturate(5296%) hue-rotate(75deg) brightness(88%) contrast(69%); }

main {
  width: 100%; }

.main__about {
  font-family: 'Courier';
  padding: 10px;
  position: relative;
  max-width: 1024px;
  height: auto;
  width: 60%;
  background: black;
  border: 1px solid black;
  border-left-width: 0px;
  border-right-width: 0px;
  top: 100px;
  margin: 0 auto; }

.main__about p {
  font-size: 15px; }

.main__flex {
  display: flex; }

.main__about::before {
  position: absolute;
  content: '';
  left: -16%;
  top: -1px;
  height: 100%;
  width: 60%;
  background: black;
  border: 1px solid black;
  z-index: -1;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);
  box-shadow: 0px 0px 76px rgba(39, 176, 40, 0.76); }

.main__about::after {
  position: absolute;
  content: '';
  left: 55%;
  top: -1px;
  height: 100%;
  width: 60%;
  background: black;
  border: 1px solid black;
  z-index: -1;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);
  box-shadow: 0px 0px 76px rgba(39, 176, 40, 0.76); }

div[class^="about_"] {
  color: #ffffff;
  padding: 20px; }

div[class^="about_"] h3 {
  color: #1B791C; }

div[class^="about_"] img {
  margin-top: 30px; }

div[class^="about_"] ul {
  list-style: none;
  width: max-content;
  padding: 0;
  margin: 0; }

div[class^="about_"] ul li {
  margin-top: 15px; }

.about__synopsis p {
  max-width: 400px;
  min-width: 300px; }

.about__production {
  text-align: center;
  display: flex;
  flex-direction: column; }

.about__last {
  text-align: center;
  font-size: 25px; }

.social {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  left: 20px;
  top: 30%; }

.social a {
  margin: 30px auto;
  cursor: pointer; }

.social::before {
  content: '';
  border: 1px #ffffff solid;
  width: 40px;
  transform: rotate(90deg);
  margin-bottom: 60px; }

.social::after {
  content: '';
  border: 1px #ffffff solid;
  width: 40px;
  transform: rotate(90deg);
  margin-top: 60px; }

/*# sourceMappingURL=style-site-institutionnel.css.map */
